@import url('https://fonts.googleapis.com/css?family=Yeon+Sung');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
input:focus, textarea:focus, select:focus {
    outline: none;
}
.link {
    text-decoration: none !important;
}
.body {
    text-align: center;
}
h1 {
    font-family: 'Press Start 2P', cursive !important;
}
.wordbook {
    display: inline-block;
    width: 75%;
    padding: 3px;
    margin-bottom: 10px;
    background: none;
    border: 7px solid transparent;
    /* border-image: linear-gradient(to left, #EC008C, #FC6767); */
    border-image-slice: 1;
}
.wordbook .header {
    margin-top: 5px;
}
.wordbook .title {
    font-size: 32px;
    text-decoration: none;
    margin-top: 5px;
    background: -webkit-linear-gradient(135deg, #EC008C, #FC6767);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.wordbook .title.blue {
    background: -webkit-linear-gradient(135deg, #552FC9, #4296DB);
    background-clip: text;
    -webkit-background-clip: text;
}
.wordbook .author {
    color: black;
    font-size: 15px;
}
.wordbook .intro {
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}
.words {
    margin-bottom: 5px;
}
.word {
    display: inline-block;
    color: #EC008C;
    font-weight: 450;
    border: 2px solid #EC008C;
    border-radius: 15px;
    padding: 3.5px;
    margin-bottom: 5px;
    text-decoration: none;
}
.word:hover {
    text-decoration: none !important;
    color: white;
    background: #EC008C;
    background: -webkit-linear-gradient(to right, #EC008C, #FC6767);
    background: linear-gradient(to right, #EC008C, #FC6767);
}
/* word style for skyblue theme */
.word.blue {
    color: rgb(85, 47, 201);
    font-weight: 450;
    border: 2px solid rgb(85, 47, 201);
}
.word.blue:hover {
    text-decoration: none !important;
    color: white;
    background: rgb(85, 47, 201);
    background: -webkit-linear-gradient(to right, rgb(85, 47, 201), #4296db);
    background: linear-gradient(to right, rgb(85, 47, 201), #4296db);
}
/* word with default gradient */
.word.gradient {
    color: white;
    background: #EC008C;
    background: -webkit-linear-gradient(to right, #EC008C, #FC6767);
    background: linear-gradient(to right, #EC008C, #FC6767);
    margin: 0;
    margin-left: 5px;
}
.fa-ellipsis-h {
    color: rgb(223, 223, 223);
}
#word-index {
    margin-top: 0.5em;
    font-size: 3.5em;
    font-family: 'Press Start 2P', cursive;
}
#guess {
    width: 50%;
    font-size: 50px;
    text-align: center;
    border: 5px rgb(37, 37, 37) dotted;
    border-radius: 0.4rem;
}
#progress {
    display: inline-block;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(165, 165, 165);
}
#time {
    color: white;
    font-weight: 200;
    font-family: 'Yeon Sung', cursive;
    display:table-cell;
    vertical-align:middle;
    padding: 7px;
}
#bar {
    display:table; 
    width: 1%;
    height: 30px;
    background-color: #EC008C;
    background: linear-gradient(to left, #EC008C, #FC6767);
    text-align: right;
}
#question {
    color: black;
    font-size: 50px;
    font-weight: 200;
    font-family: 'Yeon Sung', cursive;
}
.fa-redo {
    width: 50px;
    margin: 5px;
    color: rgb(37, 37, 37);
}
.fa-bars {
    width: 50px;
    margin: 5px;
    color: rgb(37, 37, 37);
}
.new-wordbook {
    display: inline-block;
    width: 30%;
    color: black;
    margin-top: 25px;
    margin-bottom: 20px;
    border: 3px rgb(37, 37, 37) solid;
    border-radius: 25px;
    font-size: 25px;
    font-family: 'Yeon Sung', cursive;
}
.new-wordbook:hover {
    color: white;
    background: black;
}
.word-table {
    display: inline-block;
    border-collapse: collapse;
}
table.word-table td {
    padding: 10px;
}
table.word-table tr td:last-child {
    border-left: 2px solid #EC008C;
}
input[type=checkbox]{
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    padding: 10px;
}
.new-help {
    font-size: 24px;
    font-family: 'Yeon Sung', cursive;
}
.new-word {
    display: inline-block;
    color: #EC008C;
    border: 3px #EC008C solid;
    border-radius: 25px;
    font-size: 22px;
    font-family: 'Yeon Sung', cursive;
    margin-bottom: 20px;
    margin-top: 20px;
}
.new-word:hover {
    color: white;
    background: #EC008C;
}
.word-input {
    font-size: 23px;
}
.word-input span {
    font-family: 'Yeon Sung', cursive;
}
.no-words {
    display: inline-block;
    font-size: 20px;
    font-family: 'Yeon Sung', cursive;
    color: #EC008C;
    border: 2px #EC008C solid;
    background: white;
    border-radius: 25px;
}
.no-words:hover {
    color: white;
    background: #EC008C;
}
.add-words-box {
    text-align: center;
}
.english-input {
    color: black;
    border: 3px rgb(37, 37, 37) dotted;
    border-radius: 0.4rem;
}
.korean-input {
    color: black;
    border: 2px rgb(165, 165, 165) solid;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 10px;
}
.add-korean {
    display: inline-block;
    font-size: 20px;
    font-family: 'Yeon Sung', cursive;
    color: #FC6767;
    border: 2px #FC6767 solid;
    background: white;
    border-radius: 25px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
}
.add-korean:hover {
    color: white;
    background: #FC6767;
}
.wordbook-info {
    width: 100%;
}
.wordbook-info input {
    color: black;
    font-size: 20px;
    width: 50%;
    padding: 10px;
    margin-bottom: 5px;
    border: 3px #EC008C solid;
    border-radius: 10px;
}
.wordbook-info input::placeholder {
    color: #EC008C;
    font-size: 20px;
}
.fa-question-circle {
    width: 50px;
    margin: 5px;
    color: rgb(37, 37, 37);
}
.fa-times {
    width: 50px;
    margin: 5px;
    color: rgb(37, 37, 37);
}
/* join */
.join-form input {
    color: black;
    font-size: 20px;
    width: 30%;
    padding: 10px;
    margin-bottom: 5px;
    border: 3px #EC008C solid;
    border-radius: 10px;
}
@media (max-width: 755px) {
    .join-form input {
        width: 80%;
    }
}
.join-form input::placeholder {
    color: #EC008C;
    font-size: 20px;
}
/* .profile-preview .profile {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
} */
.profile-preview .name {
    font-size: 25px;
    font-weight: bold;
}
.new-user {
    display: inline-block;
    width: 30%;
    color: black;
    margin-top: 25px;
    margin-bottom: 20px;
    border: 3px rgb(37, 37, 37) solid;
    border-radius: 25px;
    font-size: 25px;
    font-family: 'Yeon Sung', cursive;
}
.new-user:hover {
    color: white;
    background: black;
}
#department {
    font-weight: bold;
}
.department button {
    width: 110px;
    height: 45px;
    font-size: 20px;
    background: none;
    border: 5px solid;
    border-radius: 5px;
}
.department button:focus { 
    outline: 0 !important; 
}
.department .first {
    margin-bottom: 5px;
}
#eb-button {
    color: #424242;
    border-color: #424242;
}
#dc-button {
    color: #FF0080;
    border-color: #FF0080;
}
#wp-button {
    color: #9A2EFE;
    border-color: #9A2EFE;
}
#hd-button {
    color: #3A01DF;
    border-color: #3A01DF;
}
.join-form .eb {
    border: 3px #424242 solid;
}
.join-form .eb::placeholder {
    color: #424242;
}
.join-form .dc {
    border: 3px #FF0080 solid;
}
.join-form .dc::placeholder {
    color: #FF0080;
}
.join-form .wp {
    border: 3px #9A2EFE solid;
}
.join-form .wp::placeholder {
    color: #9A2EFE;
}
.join-form .hd {
    border: 3px #3A01DF solid;
}
.join-form .hd::placeholder {
    color: #3A01DF;
}
/* ranking */
.ranking {
    width: 100%;
    text-align: center;
}
.ranking table {
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
    box-shadow: 0 0 12px 6px rgb(20, 20, 20, 0.1);
}
.ranking table tbody:before {
    content: "-";
    display: block;
    line-height: 10px;
    color: transparent;
}
.ranking table tbody td {
    text-align: center; vertical-align: middle;
}
.ranking table tbody td.rank {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}
.ranking tr.first:nth-child(1) td.rank {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
.ranking tr.first:nth-child(2) td.rank {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
.ranking tr.first:nth-child(3) td.rank {
    background-image: linear-gradient(to top, #c79081 0%, #dfa579 100%);
}
.ranking tr.first:nth-child(-n+3) td {
    font-weight: bold;
}
.ranking .department {
    color: white;
    padding: 3px;
    border-radius: 15px;
    font-size: 7px;
}
.page {
    font-size: 30px;
    margin-left: 15px;
    margin-right: 15px;
}
/* login/join buttons */
a.button {
    color: #EC008C;
    border: 3px solid #EC008C;
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
    padding: 3px;
}
a.button:hover {
    color: #FC6767;
    border-color: #FC6767;
}
/* login */
.login-user {
    display: inline-block;
    width: 30%;
    color: black;
    margin-top: 25px;
    margin-bottom: 40px;
    border: 3px rgb(37, 37, 37) solid;
    border-radius: 25px;
    font-size: 25px;
    font-family: 'Yeon Sung', cursive;
}
@media (max-width: 755px) {
    .login-user {
        width: 80%;
    }
}
.login-user:hover {
    color: white;
    background: black;
}
/* nav */
#dimigo-logo {
    width: 50px;
    height: auto;
    margin-left: 40px;
}
span.dimiwords {
    color: white;
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
}
.body {
    margin-top: 20px;
}
/* app_default profile */
.profile { 
    background: white;
    border-radius: 15px;
    padding: 10px;
    margin-left: 30px;
    box-shadow: 0 0 8px 4px rgb(20, 20, 20, 0.1);
}
.profile .name {
    color: black;
}
.profile .department {
    font-weight: bold;
}
/* app.vue profile buttons */
.profile button {
    color: #EC008C;
    border: 3px solid #EC008C;
    border-radius: 5px;
    font-size: 15px;
}
.navbar-brand {
    display: flex !important;
    align-items: center;
}
.theme-switch {
    margin-bottom: 30px;
}
