@import url('https://fonts.googleapis.com/css?family=Yeon+Sung');
input:focus, textarea:focus, select:focus {
    outline: none;
}
#dimigo-logo {
    width: 120px;
    height: auto;
}
.link {
    text-decoration: none;
}
.wordbooks {
    text-align: center;
}
.wordbook {
    display: inline-block;
    width: 75%;
    padding: 3px;
    margin-bottom: 10px;
    background: none;
    border: 7px solid transparent;
    border-image: linear-gradient(to left, #EC008C, #FC6767);
    border-image-slice: 1;
}
.wordbook .header {
    margin-bottom: 5px;
}
.wordbook .title {
    color: #EC008C;
    background: -webkit-linear-gradient(135deg, #EC008C, #FC6767);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 32px;
    text-decoration: none;
}
.wordbook .words {
    margin-bottom: 5px;
}
.wordbook .word {
    display: inline-block;
    color: #EC008C;
    font-weight: 450;
    border: 2px solid #EC008C;
    border-radius: 15px;
    padding: 3.5px;
    margin-bottom: 5px;
    text-decoration: none;
}
.wordbook .word:hover {
    color: white;
    background: #EC008c;
    background: -webkit-linear-gradient(to right, #EC008c, #fc6767);
    background: linear-gradient(to right, #EC008c, #fc6767);
}
.fa-ellipsis-h {
    color: rgb(223, 223, 223);
}
#guess {
    width: 50%;
    font-size: 50px;
    text-align: center;
    border: 5px rgb(37, 37, 37) dotted;
    border-radius: 0.4rem;
}
#progress {
    display: inline-block;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(165, 165, 165);
}
#time {
    color: white;
    font-weight: 200;
    font-family: 'Yeon Sung', cursive;
    display:table-cell;
    vertical-align:middle;
    padding: 7px;
}
#bar {
    display:table;
    width: 1%;
    height: 30px;
    background-color: #EC008C;
    background: linear-gradient(to left, #EC008C, #FC6767);
    text-align: right;
}
#question {
    color: black;
    font-size: 50px;
    font-weight: 200;
    font-family: 'Yeon Sung', cursive;
}
.fa-redo {
    width: 50px;
    margin: 5px;
    color: rgb(37, 37, 37);
}
.fa-bars {
    width: 50px;
    margin: 5px;
    color: rgb(37, 37, 37);
}
.new-wordbook {
    display: inline-block;
    width: 30%;
    color: black;
    margin-top: 30px;
    border: 3px rgb(37, 37, 37) solid;
    border-radius: 25px;
    font-size: 25px;
    font-family: 'Yeon Sung', cursive;
}
.new-wordbook:hover {
    color: white;
    background: black;
}
.word-table {
    display: inline-block;
    border-collapse: collapse;
}
table td {
    padding: 10px;
}
table tr td:first-child {
    border-right: 2px solid #EC008C;
}
